<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css">
        <title>{{ course['number'] }} : {{ course['name'] }}</title>
    </head>
    <body>

        <div class="course_container">
            <div class="course_name">{{ course['number'] }} : {{ course['name'] }}</div>
            <div class="course_description">
                {{ course['description'] }}
            </div>
            <div class="course_credits">{{ course['credits'] }} credits.</div>
        </div>

        <script src="/static/script.js"></script>

    </body>
</html>