<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css" />
        <title>Login</title>
    </head>
    <body style="background-color:lightpink">
        <h1>Login</h1>
        Email: <input type="text" id="email" /><br/>
        Password: <input type="password" id="password"/><br/>
        Remember Me: <input type="checkbox" id="remember"/><br/>
        <button onclick="login();">Login</button>

        <script src="/static/script.js"></script>
    </body>
</html>