body {
    background-color:#eeeeee;
    width:980px;
    margin-top:5px;
    margin-left:auto;
    margin-right:auto;
}

.course_container {margin-bottom:10px; background-color:#ffffff; border-radius:10px; box-shadow:3px 3px 3px #ccc; padding:10px; }
.course_name { font-weight:bold; font-size:18px; color:#000000; }
.course_description { color:#444444; }
.course_credits { color:#ee0000; }

