<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css" />
        <title>Editor</title>
    </head>
    <body onload="initEditorPage();">
        <h1>Editor</h1>
        Logged in as: {{ email }}<br/>
        <a href="/home.html">Home</a> |
        <a href="/logout" onclick="doLogout(); return false;">Logout</a>
        <hr/>

        Title: <input type="text" id="title" /><br/>
        Text:<br/>
        <textarea id="text" rows="6" cols="70"></textarea><br/>
        <button onclick="addPost();">Add</button>

        <hr/>
        <div id="postList"></div>

        <script src="/static/script.js"></script>
    </body>
</html>
