<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css" />
        <title>Feed</title>
    </head>
    <body onload="initFeedPage();">
        <div class="page">
            <div class="topbar">
                <h1>The Project Formerly Known as Twitter</h1>
                <div class="subtitle">Recent posts from everyone</div>
                <div class="navline">
                    <a href="/feed.html">Feed</a> |
                    <a href="/u/{{ username }}">My Profile</a> |
                    <a href="/logout" onclick="doLogout(); return false;">Logout</a>
                </div>
            </div>

            <div id="divFeed"></div>
        </div>

        <script src="/static/script.js"></script>
    </body>
</html>
