<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css" />
        <title>Feed</title>
    </head>
    <body onload="init_feed();">
        <div class="topnav">
            <a class="navbtn" href="/feed.html">Feed</a>
            <a class="navbtn" href="/profile.html">Profile</a>
        </div>

        <h1>Feed</h1>
        <div>Showing recent posts from other users.</div>

        <hr/>
        <div id="divFeedPosts"></div>

        <script src="/static/script.js"></script>
    </body>
</html>
