<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css" />
        <title>Feed</title>
    </head>
    <body onload="initFeedPage();">
        <h1>The Project Formerly Known as Twitter</h1>
        <a href="/feed.html">Feed</a> |
        <a href="/u/{{ username }}">My Profile</a> |
        <a href="/logout" onclick="doLogout(); return false;">Logout</a>
        <hr/>

        <div id="divFeed"></div>

        <script src="/static/script.js"></script>
    </body>
</html>
