<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css" />
        <title>Profile</title>
    </head>
    <body onload="initProfilePage('{{ username }}');">
        <h1>Profile</h1>
        <a href="/feed.html">Feed</a> |
        <a href="/logout" onclick="doLogout(); return false;">Logout</a>
        <hr/>

        <div class="profileHeader">
            <img id="profileImage" class="profilePhoto" src="/static/default-profile.svg" />
            <div>
                <div id="profileUsername" class="profileName">@{{ username }}</div>
            </div>
        </div>

        <input type="hidden" id="profilePageUsername" value="{{ username }}" />

        {% if own_profile %}
            <div class="panel">
                <input type="file" id="photoFile" />
                <button onclick="uploadProfilePhoto();">Upload Photo</button>
            </div>
            <div class="panel">
                <textarea id="txtPost" rows="4" cols="60" placeholder="What is happening?"></textarea><br/>
                <button onclick="createProfilePost();">Post</button>
            </div>
        {% endif %}

        <hr/>
        <div id="divProfilePosts"></div>

        <script src="/static/script.js"></script>
    </body>
</html>
