<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css" />
        <title>Reply</title>
    </head>
    <body onload="init_reply('{{ postid }}');">
        <div class="topnav">
            <a class="navbtn" href="/feed.html">Feed</a>
            <a class="navbtn" href="/profile.html">Profile</a>
        </div>

        <h1>Post</h1>
        <div id="divMainPost"></div>

        <!-- ///////////////////////////////////////////////////////////////////////////// -->
        <h2>Replies</h2>
        <div id="divReplies"></div>

        <hr/>
        Your Reply:<br/>
        <textarea id="txtReply" rows="4" cols="60"></textarea><br/>
        <button onclick="reply_to_post();">Reply</button>

        <script src="/static/script.js"></script>
    </body>
</html>
