<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css" />
        <title>Sign Up</title>
    </head>
    <body>
        <h1>Sign Up</h1>
        <div class="panel">
            Email: <input type="text" id="email" /><br/>
            Username: <input type="text" id="username" /><br/>
            Password: <input type="password" id="password" /><br/>
            <button onclick="submitSignup();">Create Account</button><br/>
            <a href="/login.html">Already have an account? Login</a>
        </div>

        <script src="/static/script.js"></script>
    </body>
</html>
