<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css" />
        <title>Sign Up</title>
    </head>
    <body>
        <div class="topnav">
            <a class="navbtn" href="/feed.html">Feed</a>
            <a class="navbtn" href="/profile.html">Profile</a>
        </div>

        <h1>Sign Up</h1>

        Email: <input type="text" id="email" /><br/>
        UserName: <input type="text" id="username" /><br/>
        Password: <input type="password" id="password" /><br/>

        <button onclick="signup();">Create Account</button>

        <div><a href="/login.html">Already have an account? Login</a></div>

        <script src="/static/script.js"></script>
    </body>
</html>
