<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css" />
        <title>User Profile</title>
    </head>
    <body onload="init_user_profile('{{ username }}');">
        <h1 id="hTitle">User Profile</h1>

        <img id="imgPhoto" src="" width="120" height="120" /><br/>
        <div id="divUserName"></div>

        <hr/>
        <h2>Posts</h2>
        <div id="divPosts"></div>

        <!-- ///////////////////////////////////////////////////////////////////////////// -->
        <div><a href="/logout.html">Logout</a></div>

        <script src="/static/script.js"></script>
    </body>
</html>
